/* utility classes */
body, .page-wrapper{
    font-family: "Mooli", sans-serif !important;
}

 .uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: none;
}
.lowercase-imp {
    text-transform: lowercase !important;
}

.underline, a.underline{
    text-decoration: underline;
}

.product-wrap{
    margin: 2em 0;
}


.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity)) /* #ef4444 */;
}