/* utility classes */
body, .page-wrapper{
    font-family: "Mooli", sans-serif !important;
}

/* 
{{-- body, h1, h2, h3, h4, h5, p, div, span, --}}
h1, h2, h3, h4, h5, h6{
font-family: "Sofia", sans-serif; !important
}
{{-- body, a, a.nav-link, a.theme-button, button, .btn, .view-more, .read-more, .main-menu .navbar-collapse li a,
.success-item p, .count-text, .skill-bar-percent,
.pricing-item .price --}}
 */

 /* a {
    font-family: "Sofia", sans-serif !important; 
    } */

 .uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: none;
}
.lowercase-imp {
    text-transform: lowercase !important;
}

.underline, a.underline{
    text-decoration: underline;
}

.product-wrap{
    margin: 2em 0;
}


